@use 'moduls/root';

@use 'moduls/navbar';

@use 'moduls/header';

@use 'moduls/main';

@use 'moduls/cards';

@use 'moduls/section-profil';

@use 'moduls/about';

@use 'moduls/section-images';

@use 'moduls/footer';

@use 'moduls/responsive';
