* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: none;
  background-color: white;
}

.navbar {
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 65px;
  align-items: center;
  background-color: #3f505a;
}
.navbar-items {
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-items li a {
  color: #49c9d4;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-hamburger {
  height: 78%;
  width: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.navbar-hamburger .line {
  display: none;
  height: 10%;
  width: 63%;
  background-color: #49c9d4;
  border-radius: 20px;
}

.header {
  background-image: url("../images/header/bg.png");
  background-size: cover;
  width: 100%;
  height: 111vh;
  background-position: bottom;
  text-align: center;
  margin: auto;
  z-index: 1;
  position: relative;
}
.header-logo {
  padding: 35px 0;
  box-sizing: border-box;
}
.header-logo img {
  width: 160px;
}
.header-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.header-heading h1 {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
}
.header-heading h1 span {
  font-weight: normal;
  margin-top: 10px;
}
.header-heading .line {
  width: 38%;
  height: 2px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #fff;
}
.header-content {
  font-size: 12px;
  width: 45%;
  margin: 30px auto;
  color: #49c9d4;
}
.header-content h1 {
  text-transform: uppercase;
  padding: 30px 0;
  font-weight: 600;
  font-size: 2em;
}
.header-content p {
  font-size: 1.3em;
  line-height: 22px;
}
.header-content button {
  margin-top: 25px;
  width: 80px;
  height: 25px;
  color: #333;
}

.main {
  width: 100%;
  height: 240vh;
  background-image: url(../images/main/bg2.2.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
  margin-top: -53vh;
}
.main-header {
  padding-top: 70vh;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.main-header h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: normal;
  color: #4b5f6b;
}
.main-header h1 i {
  color: #49c9d4;
  margin: 0 10px;
}
.main-header .line {
  height: 3px;
  width: 26vw;
  background-color: #49c9d4;
  margin: 15px auto 0;
}
.main-content {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 73%;
}
.main-content .left, .main-content .right {
  width: 45%;
  line-height: 23px;
}
.main-content .left p, .main-content .right p {
  color: #353e44;
}
.main-content .left {
  text-align: right;
}
.main-button {
  display: flex;
  width: 83%;
  flex-direction: row-reverse;
  margin-top: 60px;
}
.main-button button {
  text-transform: capitalize;
  outline: none;
  border: none;
  font-size: 1em;
  background-color: #3f505a;
  color: #fff;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  background-image: url(../images/card/bg.png);
  margin-top: -50vh;
  position: relative;
}
.cards span {
  z-index: 999;
  display: none;
  font-size: 2em;
  position: absolute;
  top: 65%;
  cursor: pointer;
}
.cards span i {
  color: #49c9d4;
}
.cards span i:hover {
  filter: brightness(0.8);
  transition: 0.2s;
}
.cards .right {
  right: 20px;
}
.cards .left {
  left: 20px;
}
.cards .card {
  text-align: center;
  width: 30%;
  padding-top: 65vh;
  box-sizing: border-box;
}
.cards .card-title {
  margin: auto;
  width: 55%;
}
.cards .card-title h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.8em;
  color: #49c9d4;
  margin-bottom: 20px;
}
.cards .card-images img {
  height: 550px;
  width: 270px;
}
.cards .card-section {
  width: 61%;
  text-align: left;
  margin: auto;
}
.cards .card-section p {
  color: #fff;
  line-height: 1.8rem;
  font-size: 1rem;
  margin-bottom: 25px;
}
.cards .card-section .button {
  text-align: right;
  margin-bottom: 50px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cards .card-section .button button {
  width: 67%;
  height: 35px;
  color: #4b5f6b;
  background-color: #49c9d4;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 2px;
}
.cards .card-section .button i {
  font-size: 4rem;
  text-align: right;
  color: #49c9d4;
}
.cards .two {
  transform: translateY(-100px);
  top: 0;
}
.cards .three {
  transform: translateY(-200px);
}

.section-profil {
  width: 100%;
  height: 100vh;
}
.section-profil .section-header {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 55px;
  border: 3px solid #4b5f6b;
  color: #4b5f6b;
}
.section-profil .section-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.section-profil .section-content .text-content {
  width: 40%;
  text-align: justify;
  margin-top: 10px;
  position: relative;
}
.section-profil .section-content .text-content p {
  color: #4b5f6b;
  line-height: 30px;
}
.section-profil .section-content .text-content .read-more {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
}
.section-profil .section-content .text-content .read-more i {
  color: #4b5f6b;
  font-size: 3.5rem;
  margin-right: 15px;
}
.section-profil .section-content .text-content .read-more a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #49c9d4;
}
.section-profil .section-content .images-content {
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: #49c9d4;
}
.section-profil .section-content .images-content img {
  height: 100%;
  width: 100%;
}

.about {
  z-index: 999;
  position: relative;
  height: 110vh;
  width: 100%;
  background-image: url("../images/about/bg.png");
  background-size: cover;
  background-position: bottom;
}
.about-header {
  margin: 0 auto 50px auto;
  width: 45%;
  text-align: center;
  padding-top: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-header h1 {
  font-size: 2.8em;
  text-transform: uppercase;
  color: #49c9d4;
  margin-bottom: 10px;
}
.about-header .line {
  width: 70%;
  height: 3px;
  background-color: #49c9d4;
}
.about-content {
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  margin: 0 auto 50px;
}
.about-content .first, .about-content .second {
  width: 43%;
}
.about-content .first p, .about-content .second p {
  line-height: 1.5rem;
  font-size: 1rem;
  color: #fff;
}
.about-content .first {
  text-align: right;
}
.about-content .second {
  text-align: left;
}
.about-button {
  text-align: center;
  margin: auto;
}
.about-button button {
  width: 100px;
  height: 25px;
  cursor: pointer;
}

.section-images {
  width: 100%;
  height: 113vh;
  background-image: url(../images/section-images/bg.png);
  background-size: cover;
  margin-top: -18vh;
  z-index: -999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-images h1 {
  display: none;
}

.footer {
  width: 100%;
  height: 55vh;
  position: relative;
  margin-top: -190px;
  background-image: url("../images/footer/bg.png");
  background-size: cover;
}
.footer .footer-list {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  padding-top: 190px;
  box-sizing: border-box;
  justify-content: space-evenly;
  position: relative;
}
.footer .footer-list .footer-about, .footer .footer-list .footer-follow-us, .footer .footer-list .footer-contact {
  width: 33%;
  text-align: center;
}
.footer .footer-list .footer-about .list-content, .footer .footer-list .footer-follow-us .list-content, .footer .footer-list .footer-contact .list-content {
  margin-top: 20px;
  color: #fff;
}
.footer .footer-list .footer-follow-us .list-content {
  margin: 20px auto 0;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.footer .footer-list .footer-follow-us .list-content i {
  font-size: 1.5rem;
}
.footer .footer-list .footer-follow-us .list-content:hover {
  color: #353e44;
}
.footer .footer-list .list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer .footer-list .list h1 {
  margin-left: -10px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: normal;
  width: 80%;
  color: #353e44;
}
.footer .footer-list .list i {
  width: 20%;
  color: #353e44;
  font-size: 3rem;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .navbar-md .navbar-items {
    width: 100%;
  }
  .navbar-md .navbar-hamburger {
    width: 7%;
  }

  .header-md .header-logo img {
    width: 110px;
  }
  .header-md .header-heading {
    margin-top: 7px;
  }
  .header-md .header-heading h1 {
    font-size: 3.7rem;
  }
  .header-md .header-content {
    margin: 20px auto;
  }
  .header-md .header-content h1 {
    font-size: 1.3em;
    padding: 20px 0;
  }
  .header-md .header-content p {
    font-size: 1.1em;
  }

  .main-md .main-header h1 {
    font-size: 2.5em;
  }
  .main-md .main-content {
    width: 75%;
  }
  .main-md .main-button button {
    width: 140px;
    height: 35px;
  }

  .cards-md {
    margin-top: -65vh;
  }
  .cards-md .card {
    padding-top: 90vh;
  }
  .cards-md .card-title {
    width: 68%;
  }
  .cards-md .card-title h1 {
    font-size: 1.6em;
  }
  .cards-md .card-images img {
    height: 500px;
    width: 230px;
  }
  .cards-md .card-section p {
    color: #fff;
  }
  .cards-md .card-section .button button {
    width: 67%;
    height: 35px;
    font-size: 0.8rem;
    border-radius: 2px;
  }
  .cards-md .card-section .button i {
    font-size: 4rem;
    text-align: right;
    color: #49c9d4;
  }
  .cards-md .one .card-title {
    width: 70%;
  }
  .cards-md .two {
    transform: translateY(-80px);
    top: 0;
  }
  .cards-md .three {
    transform: translateY(-160px);
  }

  .section-profil-md .section-header {
    width: 470px;
    height: 50px;
  }
  .section-profil-md .section-header h1 {
    font-size: 1.3em;
  }
  .section-profil-md .section-content .text-content {
    width: 45%;
  }
  .section-profil-md .section-content .text-content p {
    line-height: 24px;
  }
  .section-profil-md .section-content .text-content p span {
    display: none;
  }
  .section-profil-md .section-content .text-content .read-more i {
    font-size: 3.3rem;
  }
  .section-profil-md .section-content .text-content .read-more a {
    font-size: 1.1rem;
  }
  .section-profil-md .section-content .images-content {
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: #49c9d4;
  }
  .section-profil-md .section-content .images-content img {
    height: 100%;
    width: 100%;
  }

  .about-md .about-header {
    width: 55%;
    padding-top: 17vh;
    margin: 0 auto 30px auto;
  }
  .about-md .about-header h1 {
    font-size: 2.4em;
  }
  .about-md .about-header .line {
    width: 70%;
    height: 3px;
  }
  .about-md .about-content {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto 30px;
  }
  .about-md .about-content .first, .about-md .about-content .second {
    width: 43%;
  }
  .about-md .about-content .first p, .about-md .about-content .second p {
    line-height: 1.3rem;
    font-size: 0.9rem;
  }

  .section-images-md {
    background-image: url(../images/section-images/bg.png);
    background-size: cover;
    margin-top: -16vh;
  }
  .section-images-md h1 {
    display: none;
  }

  .footer-md {
    height: 65vh;
  }
  .footer-md .footer-list {
    width: 90%;
    padding-top: 160px;
  }
  .footer-md .footer-list .list h1 {
    font-size: 1.2rem;
  }
  .footer-md .footer-list .list i {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 618px) {
  .navbar-sm {
    position: relative;
    justify-content: flex-end;
  }
  .navbar-sm .on {
    transform: translateY(0) !important;
    transition: 0.3s;
  }
  .navbar-sm .navbar-items {
    transition: 0.3s;
    transform: translateY(-100vh);
    width: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #3f505a;
  }
  .navbar-sm .navbar-items li a {
    font-size: 14px;
  }
  .navbar-sm .navbar-hamburger {
    z-index: 1;
    width: 9%;
  }
  .navbar-sm .navbar-hamburger .line {
    display: inline-block;
  }

  .header-sm {
    height: 100vh;
  }
  .header-sm .header-logo {
    padding: 20px 0;
  }
  .header-sm .header-logo img {
    width: 90px;
  }
  .header-sm .header-heading h1 {
    font-size: 3.1rem;
  }
  .header-sm .header-content {
    margin: 10px auto;
  }
  .header-sm .header-content h1 {
    font-size: 1.5em;
    padding: 20px 0;
  }
  .header-sm .header-content p {
    font-size: 1.2em;
  }

  .main-sm .main-header h1 {
    font-size: 2em;
  }
  .main-sm .main-header .line {
    height: 2px;
    width: 30vw;
  }
  .main-sm .main-content {
    width: 80%;
  }
  .main-sm .main-content .left p, .main-sm .main-content .right p {
    font-size: 0.9em;
  }
  .main-sm .main-button button {
    width: 130px;
    height: 30px;
    font-size: 0.8em;
  }

  .cards-sm {
    margin-top: -75vh;
  }
  .cards-sm .card {
    padding-top: 80vh;
  }
  .cards-sm .card-title {
    width: 83%;
  }
  .cards-sm .card-title h1 {
    font-size: 1.4em;
  }
  .cards-sm .card-images img {
    height: 440px;
    width: 190px;
  }
  .cards-sm .one .card-title {
    width: 85%;
  }
  .cards-sm .card-section {
    width: 70%;
  }
  .cards-sm .card-section p {
    font-size: 0.9rem;
  }
  .cards-sm .card-section .button button {
    width: 67%;
    height: 35px;
    font-size: 0.7rem;
    border-radius: 2px;
  }
  .cards-sm .card-section .button i {
    font-size: 3.5rem;
    text-align: right;
    color: #49c9d4;
  }
  .cards-sm .two {
    transform: translateY(-50px);
    top: 0;
  }
  .cards-sm .three {
    transform: translateY(-100px);
  }

  .section-profil-sm .section-header {
    width: 450px;
    height: 50px;
  }
  .section-profil-sm .section-header h1 {
    font-size: 1.2em;
  }
  .section-profil-sm .section-content {
    width: 95%;
  }
  .section-profil-sm .section-content .text-content {
    width: 45%;
  }
  .section-profil-sm .section-content .text-content p {
    line-height: 24px;
    font-size: 0.9rem;
  }
  .section-profil-sm .section-content .text-content p span {
    display: none;
  }
  .section-profil-sm .section-content .text-content .read-more i {
    font-size: 3.1rem;
  }
  .section-profil-sm .section-content .text-content .read-more a {
    font-size: 1rem;
  }
  .section-profil-sm .section-content .images-content {
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: #49c9d4;
  }
  .section-profil-sm .section-content .images-content img {
    height: 100%;
    width: 100%;
  }

  .about-sm .about-header {
    width: 60%;
    padding-top: 17vh;
    margin: 0 auto 20px auto;
  }
  .about-sm .about-header h1 {
    font-size: 2em;
  }
  .about-sm .about-header .line {
    width: 70%;
    height: 2px;
  }
  .about-sm .about-content {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto 20px;
    flex-wrap: wrap;
  }
  .about-sm .about-content .first, .about-sm .about-content .second {
    width: 90%;
    text-align: center;
  }
  .about-sm .about-content .first p, .about-sm .about-content .second p {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
  .about-sm .about-content .first p {
    margin-bottom: 10px;
  }
  .about-sm .about-button {
    text-align: center;
    margin: auto;
  }
  .about-sm .about-button button {
    width: 80px;
    height: 20px;
    cursor: pointer;
  }

  .section-images-sm {
    background-image: url(../images/section-images/bg.png);
    background-size: cover;
    margin-top: -14vh;
  }
  .section-images-sm h1 {
    display: none;
  }

  .footer-sm {
    height: 100%;
  }
  .footer-sm .footer-list {
    width: 100%;
    padding-top: 130px;
  }
  .footer-sm .footer-list .list h1 {
    font-size: 1rem;
  }
  .footer-sm .footer-list .list i {
    font-size: 2.6rem;
  }
  .footer-sm .footer-list .footer-follow-us .list-content i {
    font-size: 1.3rem;
  }
  .footer-sm .footer-list .footer-about, .footer-sm .footer-list .footer-follow-us, .footer-sm .footer-list .footer-contact {
    width: 30%;
  }
  .footer-sm .footer-list .footer-about .list-content p, .footer-sm .footer-list .footer-follow-us .list-content p, .footer-sm .footer-list .footer-contact .list-content p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 617px) and (min-width: 425px) {
  .navbar-m {
    position: relative;
    justify-content: flex-end;
  }
  .navbar-m .on {
    transition: 0.3s;
    transform: translateY(0) !important;
  }
  .navbar-m .navbar-items {
    transform: translateY(-100vh);
    transition: 0.3s;
    width: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #3f505a;
  }
  .navbar-m .navbar-items li a {
    font-size: 14px;
  }
  .navbar-m .navbar-hamburger {
    z-index: 1;
    width: 10%;
  }
  .navbar-m .navbar-hamburger .line {
    display: inline-block;
  }

  .header-m {
    height: 100vh;
  }
  .header-m .header-logo {
    padding: 20px 0;
  }
  .header-m .header-logo img {
    width: 90px;
  }
  .header-m .header-heading h1 {
    font-size: 2.6rem;
  }
  .header-m .header-content {
    width: 50%;
    margin: 10px auto;
  }
  .header-m .header-content h1 {
    font-size: 1.3em;
    padding: 20px 0;
  }
  .header-m .header-content p {
    font-size: 1em;
  }

  .main-m .main-header h1 {
    font-size: 1.8em;
  }
  .main-m .main-header .line {
    height: 2px;
    width: 38vw;
  }
  .main-m .main-content {
    flex-wrap: wrap;
    width: 80%;
  }
  .main-m .main-content .left, .main-m .main-content .right {
    text-align: center;
    width: 100%;
  }
  .main-m .main-content .left p, .main-m .main-content .right p {
    font-size: 0.9em;
    margin: 0 auto 20px;
  }
  .main-m .main-button button {
    width: 130px;
    height: 30px;
    font-size: 0.8em;
  }

  .cards-m {
    margin-top: -80vh;
    align-items: center;
  }
  .cards-m span {
    display: inline-block;
  }
  .cards-m .card {
    width: 100%;
    padding-top: 80vh;
    transform: translateY(0);
  }
  .cards-m .card-title {
    width: 93%;
  }
  .cards-m .card-title h1 {
    font-size: 1.4em;
  }
  .cards-m .card-images {
    width: 100%;
  }
  .cards-m .card-images img {
    height: auto;
    width: 290px;
  }
  .cards-m .card .card-section {
    width: 50%;
  }
  .cards-m .card .card-section p {
    text-align: center;
    font-size: 0.8rem;
  }
  .cards-m .card .card-section .button button {
    width: 67%;
    height: 35px;
    font-size: 0.7rem;
    border-radius: 2px;
  }
  .cards-m .card .card-section .button i {
    display: none;
  }
  .cards-m .two {
    display: none;
  }
  .cards-m .three {
    display: none;
  }

  .section-profil-m .section-header {
    width: 83%;
    height: 50px;
    margin: 20px auto;
  }
  .section-profil-m .section-header h1 {
    font-size: 1.2em;
  }
  .section-profil-m .section-content {
    width: 95%;
    flex-wrap: wrap;
  }
  .section-profil-m .section-content .text-content {
    order: 2;
    width: 85%;
  }
  .section-profil-m .section-content .text-content p {
    line-height: 22px;
    font-size: 0.9rem;
  }
  .section-profil-m .section-content .text-content p span {
    display: none;
  }
  .section-profil-m .section-content .text-content .read-more {
    position: relative;
  }
  .section-profil-m .section-content .text-content .read-more i {
    font-size: 3rem;
  }
  .section-profil-m .section-content .text-content .read-more a {
    font-size: 1rem;
  }
  .section-profil-m .section-content .images-content {
    order: 1;
    width: 85%;
  }

  .about-m {
    height: 100vh;
    margin-top: 150px;
  }
  .about-m .about-header {
    width: 75%;
    padding-top: 20vh;
    margin: 0 auto 20px auto;
  }
  .about-m .about-header h1 {
    font-size: 1.8em;
  }
  .about-m .about-header .line {
    width: 70%;
    height: 2px;
  }
  .about-m .about-content {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto 20px;
    flex-wrap: wrap;
  }
  .about-m .about-content .first, .about-m .about-content .second {
    width: 90%;
    text-align: center;
  }
  .about-m .about-content .first p, .about-m .about-content .second p {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
  .about-m .about-content .second {
    display: none;
  }
  .about-m .about-button {
    text-align: center;
    margin: auto;
  }
  .about-m .about-button button {
    width: 80px;
    height: 20px;
    cursor: pointer;
  }

  .section-images-m {
    background-image: url(../images/section-images/bg.png);
    background-size: cover;
    margin-top: -12vh;
  }
  .section-images-m h1 {
    display: none;
  }

  .footer-m {
    height: 80vh;
    margin-top: -250px;
  }
  .footer-m .footer-list {
    width: 100%;
    flex-wrap: wrap;
    padding-top: 180px;
  }
  .footer-m .footer-list .list h1 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .footer-m .footer-list .list i {
    display: none;
  }
  .footer-m .footer-list .footer-follow-us .list-content i {
    font-size: 1.3rem;
  }
  .footer-m .footer-list .footer-about, .footer-m .footer-list .footer-follow-us, .footer-m .footer-list .footer-contact {
    width: 100%;
  }
  .footer-m .footer-list .footer-about .list-content, .footer-m .footer-list .footer-follow-us .list-content, .footer-m .footer-list .footer-contact .list-content {
    margin-top: 0;
  }
  .footer-m .footer-list .footer-about .list-content p, .footer-m .footer-list .footer-follow-us .list-content p, .footer-m .footer-list .footer-contact .list-content p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 424px) {
  .navbar-mm {
    position: relative;
    justify-content: flex-end;
  }
  .navbar-mm .on {
    transition: 0.3s;
    transform: translateY(0) !important;
  }
  .navbar-mm .navbar-items {
    transition: 0.3s;
    transform: translateY(-100vh);
    width: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #3f505a;
  }
  .navbar-mm .navbar-items li a {
    font-size: 12px;
  }
  .navbar-mm .navbar-hamburger {
    z-index: 1;
    width: 15%;
  }
  .navbar-mm .navbar-hamburger .line {
    display: inline-block;
  }

  .header-mm {
    height: 90vh;
  }
  .header-mm .header-logo {
    padding: 20px 0;
  }
  .header-mm .header-logo img {
    width: 90px;
  }
  .header-mm .header-heading h1 {
    font-size: 2.6rem;
  }
  .header-mm .header-content {
    width: 80%;
    margin: 10px auto;
  }
  .header-mm .header-content h1 {
    font-size: 1.3em;
    padding: 20px 0;
  }
  .header-mm .header-content p {
    font-size: 1em;
  }

  .main-mm .main-header h1 {
    font-size: 1.6em;
  }
  .main-mm .main-header .line {
    height: 2px;
    width: 42vw;
  }
  .main-mm .main-content {
    flex-wrap: wrap;
    width: 85%;
  }
  .main-mm .main-content .left, .main-mm .main-content .right {
    text-align: center;
    width: 100%;
  }
  .main-mm .main-content .left p, .main-mm .main-content .right p {
    font-size: 0.8em;
    margin: 0 auto 20px;
  }
  .main-mm .main-button button {
    width: 125px;
    height: 25px;
    font-size: 0.7em;
  }

  .cards-mm {
    margin-top: -85vh;
    align-items: center;
  }
  .cards-mm span {
    display: inline-block;
  }
  .cards-mm .card {
    width: 100%;
    padding-top: 80vh;
    transform: translateY(0);
  }
  .cards-mm .card-title {
    width: 93%;
  }
  .cards-mm .card-title h1 {
    font-size: 1.3em;
  }
  .cards-mm .card-images {
    width: 100%;
  }
  .cards-mm .card-images img {
    height: auto;
    width: 260px;
  }
  .cards-mm .card .card-section {
    width: 50%;
  }
  .cards-mm .card .card-section p {
    text-align: center;
    font-size: 0.8rem;
  }
  .cards-mm .card .card-section .button button {
    width: 67%;
    height: 35px;
    font-size: 0.6rem;
    border-radius: 2px;
  }
  .cards-mm .card .card-section .button i {
    display: none;
  }
  .cards-mm .two {
    display: none;
  }
  .cards-mm .three {
    display: none;
  }

  .section-profil-mm .section-header {
    width: 83%;
    height: 50px;
    margin: 20px auto;
  }
  .section-profil-mm .section-header h1 {
    font-size: 1em;
  }
  .section-profil-mm .section-content {
    width: 95%;
    flex-wrap: wrap;
  }
  .section-profil-mm .section-content .text-content {
    order: 2;
    width: 85%;
  }
  .section-profil-mm .section-content .text-content p {
    line-height: 22px;
    font-size: 0.9rem;
  }
  .section-profil-mm .section-content .text-content p span {
    display: none;
  }
  .section-profil-mm .section-content .text-content .read-more {
    position: relative;
  }
  .section-profil-mm .section-content .text-content .read-more i {
    font-size: 2.8rem;
  }
  .section-profil-mm .section-content .text-content .read-more a {
    font-size: 0.8rem;
  }
  .section-profil-mm .section-content .images-content {
    order: 1;
    width: 85%;
  }

  .about-mm {
    height: 100vh;
    margin-top: 150px;
  }
  .about-mm .about-header {
    width: 80%;
    padding-top: 20vh;
    margin: 0 auto 20px auto;
  }
  .about-mm .about-header h1 {
    font-size: 1.6em;
  }
  .about-mm .about-header .line {
    width: 70%;
    height: 2px;
  }
  .about-mm .about-content {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    margin: 0 auto 20px;
    flex-wrap: wrap;
  }
  .about-mm .about-content .first, .about-mm .about-content .second {
    width: 95%;
    text-align: center;
  }
  .about-mm .about-content .first p, .about-mm .about-content .second p {
    line-height: 1.1rem;
    font-size: 0.7rem;
  }
  .about-mm .about-content .second {
    display: none;
  }
  .about-mm .about-button {
    text-align: center;
    margin: auto;
  }
  .about-mm .about-button button {
    width: 80px;
    height: 20px;
    cursor: pointer;
  }

  .section-images-m {
    background-image: url(../images/section-images/bg.png);
    background-size: cover;
    margin-top: -10vh;
  }
  .section-images-m h1 {
    display: none;
  }

  .footer-m {
    height: 80vh;
    margin-top: -250px;
  }
  .footer-m .footer-list {
    width: 100%;
    flex-wrap: wrap;
    padding-top: 180px;
  }
  .footer-m .footer-list .list h1 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .footer-m .footer-list .list i {
    display: none;
  }
  .footer-m .footer-list .footer-follow-us .list-content i {
    font-size: 1.3rem;
  }
  .footer-m .footer-list .footer-about, .footer-m .footer-list .footer-follow-us, .footer-m .footer-list .footer-contact {
    width: 100%;
  }
  .footer-m .footer-list .footer-about .list-content, .footer-m .footer-list .footer-follow-us .list-content, .footer-m .footer-list .footer-contact .list-content {
    margin-top: 0;
  }
  .footer-m .footer-list .footer-about .list-content p, .footer-m .footer-list .footer-follow-us .list-content p, .footer-m .footer-list .footer-contact .list-content p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
