* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: none;
  background-color: white;
}

.navbar {
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 65px;
  align-items: center;
  background-color: #3f505a;
}
.navbar-items {
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
.navbar-items li a {
  color: #49c9d4;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-hamburger {
  height: 78%;
  width: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.navbar-hamburger .line {
  display: none;
  height: 10%;
  width: 63%;
  background-color: #49c9d4;
  border-radius: 20px;
}

.header {
  background-image: url("../images/header/bg.png");
  background-size: cover;
  width: 100%;
  height: 111vh;
  background-position: bottom;
  text-align: center;
  margin: auto;
  z-index: 1;
  position: relative;
}
.header-logo {
  padding: 35px 0;
  box-sizing: border-box;
}
.header-logo img {
  width: 160px;
}
.header-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.header-heading h1 {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
}
.header-heading h1 span {
  font-weight: normal;
  margin-top: 10px;
}
.header-heading .line {
  width: 38%;
  height: 2px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #fff;
}
.header-content {
  font-size: 12px;
  width: 45%;
  margin: 30px auto;
  color: #49c9d4;
}
.header-content h1 {
  text-transform: uppercase;
  padding: 30px 0;
  font-weight: 600;
  font-size: 2em;
}
.header-content p {
  font-size: 1.3em;
  line-height: 22px;
}
.header-content button {
  margin-top: 25px;
  width: 80px;
  height: 25px;
  color: #333;
}

.main {
  width: 100%;
  height: 240vh;
  background-image: url(../images/main/bg2.2.png);
  background-position: center;
  background-size: cover;
  z-index: -1;
  margin-top: -53vh;
}
.main-header {
  padding-top: 70vh;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.main-header h1 {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: normal;
  color: #3f505a;
}
.main-header h1 i {
  color: #49c9d4;
  margin: 0 10px;
}
.main-header .line {
  height: 3px;
  width: 26vw;
  background-color: #49c9d4;
  margin: 15px auto 0;
}
.main-content {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 73%;
}
.main-content .left, .main-content .right {
  width: 45%;
  line-height: 23px;
}
.main-content .left p, .main-content .right p {
  color: #353e44;
}
.main-content .left {
  text-align: right;
}
.main-button {
  display: flex;
  width: 83%;
  flex-direction: row-reverse;
  margin-top: 60px;
}
.main-button button {
  text-transform: capitalize;
  outline: none;
  border: none;
  font-size: 1em;
  background-color: #3f505a;
  color: #fff;
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  background-image: url(../images/card/bg.png);
  margin-top: -50vh;
  position: relative;
}
.cards span {
  z-index: 999;
  display: none;
  font-size: 2em;
  position: absolute;
  top: 65%;
  cursor: pointer;
}
.cards span i {
  color: #49c9d4;
}
.cards span i:hover {
  filter: brightness(0.8);
  transition: 0.2s;
}
.cards .right {
  right: 20px;
}
.cards .left {
  left: 20px;
}
.cards .card {
  text-align: center;
  width: 30%;
  padding-top: 65vh;
  box-sizing: border-box;
}
.cards .card-title {
  margin: auto;
  width: 55%;
}
.cards .card-title h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.8em;
  color: #49c9d4;
  margin-bottom: 20px;
}
.cards .card-images img {
  height: 550px;
  width: 270px;
}
.cards .two {
  transform: translateY(-100px);
  top: 0;
}
.cards .three {
  transform: translateY(-200px);
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .navbar-md .navbar-items {
    width: 100%;
  }
  .navbar-md .navbar-hamburger {
    width: 7%;
  }

  .header-md .header-logo img {
    width: 110px;
  }
  .header-md .header-heading {
    margin-top: 7px;
  }
  .header-md .header-heading h1 {
    font-size: 3.7rem;
  }
  .header-md .header-content {
    margin: 20px auto;
  }
  .header-md .header-content h1 {
    font-size: 1.3em;
    padding: 20px 0;
  }
  .header-md .header-content p {
    font-size: 1.1em;
  }

  .main-md .main-header h1 {
    font-size: 2.5em;
  }
  .main-md .main-content {
    width: 75%;
  }
  .main-md .main-button button {
    width: 140px;
    height: 35px;
  }

  .cards-md {
    margin-top: -65vh;
  }
  .cards-md .card {
    padding-top: 90vh;
  }
  .cards-md .card-title {
    width: 68%;
  }
  .cards-md .card-title h1 {
    font-size: 1.6em;
  }
  .cards-md .card-images img {
    height: 500px;
    width: 230px;
  }
  .cards-md .one .card-title {
    width: 70%;
  }
  .cards-md .two {
    transform: translateY(-80px);
    top: 0;
  }
  .cards-md .three {
    transform: translateY(-160px);
  }
}
@media only screen and (max-width: 768px) and (min-width: 618px) {
  .navbar-sm {
    position: relative;
    justify-content: flex-end;
  }
  .navbar-sm .on {
    transform: translateY(0) !important;
    transition: 0.3s;
  }
  .navbar-sm .navbar-items {
    transition: 0.3s;
    transform: translateY(-100vh);
    width: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #3f505a;
  }
  .navbar-sm .navbar-items li a {
    font-size: 14px;
  }
  .navbar-sm .navbar-hamburger {
    z-index: 1;
    width: 9%;
  }
  .navbar-sm .navbar-hamburger .line {
    display: inline-block;
  }

  .header-sm {
    height: 100vh;
  }
  .header-sm .header-logo {
    padding: 20px 0;
  }
  .header-sm .header-logo img {
    width: 90px;
  }
  .header-sm .header-heading h1 {
    font-size: 3.1rem;
  }
  .header-sm .header-content {
    margin: 10px auto;
  }
  .header-sm .header-content h1 {
    font-size: 1.5em;
    padding: 20px 0;
  }
  .header-sm .header-content p {
    font-size: 1.2em;
  }

  .main-sm .main-header h1 {
    font-size: 2em;
  }
  .main-sm .main-header .line {
    height: 2px;
    width: 30vw;
  }
  .main-sm .main-content {
    width: 80%;
  }
  .main-sm .main-content .left p, .main-sm .main-content .right p {
    font-size: 0.9em;
  }
  .main-sm .main-button button {
    width: 130px;
    height: 30px;
    font-size: 0.8em;
  }

  .cards-sm {
    margin-top: -75vh;
  }
  .cards-sm .card {
    padding-top: 80vh;
  }
  .cards-sm .card-title {
    width: 83%;
  }
  .cards-sm .card-title h1 {
    font-size: 1.4em;
  }
  .cards-sm .card-images img {
    height: 440px;
    width: 190px;
  }
  .cards-sm .one .card-title {
    width: 85%;
  }
  .cards-sm .two {
    transform: translateY(-50px);
    top: 0;
  }
  .cards-sm .three {
    transform: translateY(-100px);
  }
}
@media only screen and (max-width: 617px) and (min-width: 425px) {
  .navbar-m {
    position: relative;
    justify-content: flex-end;
  }
  .navbar-m .on {
    transition: 0.3s;
    transform: translateY(0) !important;
  }
  .navbar-m .navbar-items {
    transform: translateY(-100vh);
    transition: 0.3s;
    width: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #3f505a;
  }
  .navbar-m .navbar-items li a {
    font-size: 14px;
  }
  .navbar-m .navbar-hamburger {
    z-index: 1;
    width: 10%;
  }
  .navbar-m .navbar-hamburger .line {
    display: inline-block;
  }

  .header-m {
    height: 100vh;
  }
  .header-m .header-logo {
    padding: 20px 0;
  }
  .header-m .header-logo img {
    width: 90px;
  }
  .header-m .header-heading h1 {
    font-size: 2.6rem;
  }
  .header-m .header-content {
    width: 50%;
    margin: 10px auto;
  }
  .header-m .header-content h1 {
    font-size: 1.3em;
    padding: 20px 0;
  }
  .header-m .header-content p {
    font-size: 1em;
  }

  .main-m .main-header h1 {
    font-size: 1.8em;
  }
  .main-m .main-header .line {
    height: 2px;
    width: 38vw;
  }
  .main-m .main-content {
    flex-wrap: wrap;
    width: 80%;
  }
  .main-m .main-content .left, .main-m .main-content .right {
    text-align: center;
    width: 100%;
  }
  .main-m .main-content .left p, .main-m .main-content .right p {
    font-size: 0.9em;
    margin: 0 auto 20px;
  }
  .main-m .main-button button {
    width: 130px;
    height: 30px;
    font-size: 0.8em;
  }

  .cards-m {
    margin-top: -80vh;
    align-items: center;
  }
  .cards-m span {
    display: inline-block;
  }
  .cards-m .card {
    width: 100%;
    padding-top: 80vh;
    transform: translateY(0);
  }
  .cards-m .card-title {
    width: 93%;
  }
  .cards-m .card-title h1 {
    font-size: 1.4em;
  }
  .cards-m .card-images {
    width: 100%;
  }
  .cards-m .card-images img {
    height: auto;
    width: 290px;
  }
  .cards-m .two {
    display: none;
  }
  .cards-m .three {
    display: none;
  }
}
@media only screen and (max-width: 424px) {
  .navbar-mm {
    position: relative;
    justify-content: flex-end;
  }
  .navbar-mm .on {
    transition: 0.3s;
    transform: translateY(0) !important;
  }
  .navbar-mm .navbar-items {
    transition: 0.3s;
    transform: translateY(-100vh);
    width: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #3f505a;
  }
  .navbar-mm .navbar-items li a {
    font-size: 12px;
  }
  .navbar-mm .navbar-hamburger {
    z-index: 1;
    width: 15%;
  }
  .navbar-mm .navbar-hamburger .line {
    display: inline-block;
  }

  .header-mm {
    height: 90vh;
  }
  .header-mm .header-logo {
    padding: 20px 0;
  }
  .header-mm .header-logo img {
    width: 90px;
  }
  .header-mm .header-heading h1 {
    font-size: 2.6rem;
  }
  .header-mm .header-content {
    width: 80%;
    margin: 10px auto;
  }
  .header-mm .header-content h1 {
    font-size: 1.3em;
    padding: 20px 0;
  }
  .header-mm .header-content p {
    font-size: 1em;
  }

  .main-mm .main-header h1 {
    font-size: 1.6em;
  }
  .main-mm .main-header .line {
    height: 2px;
    width: 42vw;
  }
  .main-mm .main-content {
    flex-wrap: wrap;
    width: 85%;
  }
  .main-mm .main-content .left, .main-mm .main-content .right {
    text-align: center;
    width: 100%;
  }
  .main-mm .main-content .left p, .main-mm .main-content .right p {
    font-size: 0.8em;
    margin: 0 auto 20px;
  }
  .main-mm .main-button button {
    width: 125px;
    height: 25px;
    font-size: 0.7em;
  }

  .cards-mm {
    margin-top: -85vh;
    align-items: center;
  }
  .cards-mm span {
    display: inline-block;
  }
  .cards-mm .card {
    width: 100%;
    padding-top: 80vh;
    transform: translateY(0);
  }
  .cards-mm .card-title {
    width: 93%;
  }
  .cards-mm .card-title h1 {
    font-size: 1.3em;
  }
  .cards-mm .card-images {
    width: 100%;
  }
  .cards-mm .card-images img {
    height: auto;
    width: 260px;
  }
  .cards-mm .two {
    display: none;
  }
  .cards-mm .three {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
