@use 'mixin';
@use 'root';

.cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    background-image: url(../images/card/bg.png);
    margin-top: -50vh;
    position: relative;

    span{
        z-index: 999;
        display: none;
        font-size: 2em;
        position: absolute;
        top: 65%;
        cursor: pointer;
        i{
            color: map-get(root.$color,'fontBlue');

            &:hover {
                filter: brightness(.8);
                transition: .2s;
            }
        }
    }
    .right{
        right: 20px;
    }
    .left{
        left: 20px;
    }
    // card
    .card {
        
        text-align: center;
        // background-color: aqua;
        width: 30%;
        padding-top: 65vh;
        box-sizing: border-box;

        // card title
        &-title{
            margin: auto;
            width: 55%;

            h1{
                font-weight: normal;
                text-transform: uppercase;
                font-size: 1.8em;
                color: map-get(root.$color,'fontBlue');
                margin-bottom: 20px;
            }
        }
        // end card title

        // card imaes
        &-images {
            img {
                height: 550px;
                width: 270px;
            }
        }
        // end card images

        // card section
        &-section{
            width: 61%;
            text-align: left;
            margin: auto;

            p {
                color: map-get(root.$color,'fontWhite');
                line-height: 1.8rem;
                font-size: 1rem;
                margin-bottom: 25px;
            }

            .button{
                text-align: right;
                margin-bottom: 50px;
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                button {
                    width: 67%;
                    height: 35px;
                    color: map-get(root.$color,'fontBlack');
                    background-color: map-get(root.$color,'fontBlue');
                    outline: none;
                    border: none;
                    text-transform: uppercase;
                    font-size: 1rem;
                    border-radius: 2px;
                }

                i {
                    font-size: 4rem;
                    text-align: right;
                    color: map-get(root.$color,'fontBlue');
                }

            }
        }
        // end card section
    }
    // end card 

    // card two
    .two {
        transform: translateY(-100px);
        top: 0;
    }
    // end card two

    // card three
    .three {
        transform: translateY(-200px);
    }
    // end card three
}