@use 'root';

@mixin medium {
    // navbar
    .navbar-md{
        // navbar items 
        .navbar-items {
            width: 100%;
        }
        // end navbar items

        // navbar hamburger button
        .navbar-hamburger{
            width: 7%;
        }
        // end navbar hamburger button
    }
    // end navbar 

    // header 
    .header-md {
        // header logo
        .header-logo {
            img {
                width: 110px;
            }
        }
        // end header logo 

        // header heading
        .header-heading{
            margin-top: 7px;
            h1{
                // padding: 25px 0;
                font-size: 3.7rem;
            }
        }
        // end header heading

        // header content
        .header-content{
            margin: 20px auto;
            h1{
                font-size: 1.3em;
                padding: 20px 0;
            }
            p{
                font-size: 1.1em;
            }
        }
        // end header content

    }
    // end header

    // main 
    .main-md {
        // main header
        .main-header {
            h1{
                font-size: 2.5em;
            }
        }
        // end main header

        // main content
        .main-content{
            width: 75%;
        }
        // end main content

        // main button
        .main-button{
            button {
                width: 140px;
                height: 35px;
            }
        }
        // end main button
    }
    //end main 
}

// tab
@mixin tab {
    // navbar
    .navbar-sm{
        // items navbar 
        position: relative;
        justify-content: flex-end;
        .on {
            transform: translateY(0) !important;
            transition: .3s;
        }
        .navbar-items{
            transition: .3s;
            transform: translateY(-100vh);
            width: 100%;
            position: absolute;
            top: 0;
            flex-direction: column;
            height: 100vh;
            background-color: map-get(root.$color,'background');

            li{
                a{
                    font-size: 14px;
                }
            }
        }
        // end items navbar 

        // hamburrger button
        .navbar-hamburger{
            z-index: 1;
            width: 9%;
            .line {
                display: inline-block;
            }
        }
        // end hamburger button
    } 
    // end navbar 

    // header 
    .header-sm {
        height: 100vh;
        // header logo
        .header-logo {
            padding: 20px 0;
            img {
                width: 90px;
            }
        }
        // end header logo 

        // header heading
        .header-heading{
            h1{
                font-size: 3.1rem;
            }
        }
        // end header heading

        // header content
        .header-content{
            margin: 10px auto;
            h1{
                font-size: 1.5em;
                padding: 20px 0;
            }
            p{
                font-size: 1.2em;
            }
        }
        // end header content

    }
    // end header

    // main 
    .main-sm {
        // main header
        .main-header {
            h1{
                font-size: 2em;
            }
            .line {
                height: 2px;
                width: 30vw;
            }
        }
        // end main header

        // main content
        .main-content{
            width: 80%;
            .left, .right {
                p{
                    font-size: 0.9em;
                }
            }
        }
        // end main content

        // main button
        .main-button{
            button {
                width: 130px;
                height: 30px;
                font-size: 0.8em;
            }
        }
        // end main button
    }
    //end main 
}
// end tab

// hp
@mixin hp {
    // navbar
    .navbar-m{
        // items navbar 
        position: relative;
        justify-content: flex-end;
        .on{
            transition: .3s;
            transform: translateY(0) !important;
        }
        .navbar-items{
            transform: translateY(-100vh);
            transition: .3s;
            width: 100%;
            position: absolute;
            top: 0;
            flex-direction: column;
            height: 100vh;
            background-color: map-get(root.$color,'background');

            li{
                a{
                    font-size: 14px;
                }
            }
        }
        // end items navbar 

        // hamburrger button
        .navbar-hamburger{
            z-index: 1;
            width: 10%;
            .line {
                display: inline-block;
            }
        }
        // end hamburger button
    } 
    // end navbar 
    // header 
       .header-m {
        height: 100vh;
        // header logo
        .header-logo {
            padding: 20px 0;
            img {
                width: 90px;
            }
        }
        // end header logo 

        // header heading
        .header-heading{
            h1{
                font-size: 2.6rem;
            }
        }
        // end header heading

        // header content
        .header-content{
            width: 50%;
            margin: 10px auto;
            h1{
                font-size: 1.3em;
                padding: 20px 0;
            }
            p{
                font-size: 1em;
            }
        }
        // end header content

    }
    // end header

    // main 
    .main-m {
        // main header
        .main-header {
            h1{
                font-size: 1.8em;
            }
            .line {
                height: 2px;
                width: 38vw;
            }
        }
        // end main header

        // main content
        .main-content{
            flex-wrap: wrap;
            width: 80%;
            .left, .right {
                text-align: center;
                width: 100%;
                p{
                    font-size: 0.9em;
                    margin: 0 auto 20px ;
                }
            }
        }
        // end main content

        // main button
        .main-button{
            button {
                width: 130px;
                height: 30px;
                font-size: 0.8em;
            }
        }
        // end main button
    }
    //end main 

}
// end hp

// mini hp
@mixin miniHp {
    // navbar
    .navbar-mm{
        // items navbar 
        position: relative;
        justify-content: flex-end;
        .on{
            transition: .3s;
            transform: translateY(0) !important;
        }
        .navbar-items{
            transition: .3s;
            // transform: translateY(-100vh);
            transform: translateY(-100vh);
            width: 100%;
            position: absolute;
            top: 0;
            flex-direction: column;
            height: 100vh;
            background-color: map-get(root.$color,'background');

            li{
                a{
                    font-size: 12px;
                }
            }
        }
        // end items navbar 

        // hamburrger button
        .navbar-hamburger{
            // display: inline-block;
            z-index: 1;
            width: 15%;
            .line {
                display: inline-block;
            }
        }
        // end hamburger button
    } 
    // end navbar 
    // header 
    .header-mm {
        height: 90vh;
        // header logo
        .header-logo {
            padding: 20px 0;
            img {
                width: 90px;
            }
        }
        // end header logo 

        // header heading
        .header-heading{
            h1{
                font-size: 2.6rem;
            }
        }
        // end header heading

        // header content
        .header-content{
            width: 80%;
            margin: 10px auto;
            h1{
                font-size: 1.3em;
                padding: 20px 0;
            }
            p{
                font-size: 1em;
            }
        }
        // end header content

    }
    // end header

    // main 
    .main-mm {
        // main header
        .main-header {
            h1{
                font-size: 1.6em;
            }
            .line {
                height: 2px;
                width: 42vw;
            }
        }
        // end main header

        // main content
        .main-content{
            flex-wrap: wrap;
            width: 85%;
            .left, .right {
                text-align: center;
                width: 100%;
                p{
                    font-size: 0.8em;
                    margin: 0 auto 20px ;
                }
            }
        }
        // end main content

        // main button
        .main-button{
            button {
                width: 125px;
                height: 25px;
                font-size: 0.7em;
            }
        }
        // end main button
    }
    //end main 
}
// end mini hp