@use 'mixin';
@use 'root';


.navbar {
    // item
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 75px;
    align-items: center;
    background-color: map-get(root.$color,'background');

    &-items{
        height: 100%;
        width: 80%;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-evenly;

        li{
            a{
                color: map-get(root.$color,'fontBlue');
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
    // end items

    // hamburger button
    &-hamburger{
        height: 78%;
        width: 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .line {
            display: inline-block;
            height: 10%;
            width: 63%;
            background-color: map-get(root.$color,'fontBlue');
            border-radius: 20px;

        }

    }
    // end hamburger button
}