*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: none;
    background-color: white;
}

$color : (
    'background' : #3f505a,
    'lineBackground' : #94d4da,
    // 'background' :#34adb8 ,
    'fontBlue' : #49c9d4,
    'fontWhite' : #fff,
    'fontBlack' : #4b5f6b,
    'FontBlack' : #4b5f6b,
    'fontBlack2' : #353e44,
    'FontBlack2' : #353e44,
);