*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: none;
    
}

$color : (
    'background' : #3f505a,
    'lineBackground' : #94d4da,
    'fontBlue' : #49c9d4,
    'fontWhite' : #fff,
    'FontBlack' : #3f505a,
);